<div class="flex flex-row bg-primary w-full items-center shadow-md px-1">
  <div class="mx-auto flex flex-row gap-1">
    <div class="flex flex-row relative">
      <input
        class="input input-sm my-1"
        tabindex="0"
        type="text"
        name=""
        id="word-to-search"
      />
      <span class="absolute text-center h-full items-center flex left-2"
        >🔍</span
      >
    </div>
    <select id="languages" class="select select-sm"></select>
  </div>
</div>
